name: Build Flutter Web

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"

      - run: flutter config --enable-web
      - run: flutter pub get
        working-directory: frontend
      - run: flutter build web --release
        working-directory: frontend

      - uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: frontend/build/web
